.header {
    background-color: #32A29D; 
    color: WHITE;
    height:50px;
    margin-left: 2%;
}

.header h4 {
    padding: 13px;
    margin-top: 0px; 
    width: 102%;
}

.notification {
    float: right;
    margin-right: 80px;
    color: white;
}

img {
    float: right;
    width: 40px;
    height: 40px;
    object-fit: fill;
    object-fit: cover;
    border-radius: 96%;
    margin-right: -75px;
    margin-top: -9px;
}