nav {
    height: 50px;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

.row {
    margin-right: -15px;
    margin-left: 25px;
}

.main-section{
    background-color: #f1f1f1;
    padding-block-end: 26px;
    margin-left: -14%;
    width: 113%;
}
.main-section h4 {
    margin-left: 18px;;
}
.boxes {
    border-radius: 1px;
    margin: 0px;
    border: 1px solid #DDDDDD;
    background-color: #fff;
    padding-bottom: 10px;
    box-shadow: 1px 0px 3px 0px black;
}

.box-description {
    margin-top: 14px;
}
  
.bolder {
    font-weight: 600;
}

.green1 {
    color: green;
    height: 20px;
    margin-top: 45px;
    margin-left: -90px;
}

.green2 {
    color: rgb(40, 148, 40);
    height: 20px;
    margin-top: 45px;
    margin-left: -115px;
}
.score {
    font-size: 30px;
    float: right;
    margin-top: -15px;
}

.content {
    margin-left: -25px;
    color: #b2afaf;
}

.circle {
    float: left;
    padding-top: 3px;
    margin-left: -5px;
    color: #b2afaf;
}

.float-left {
    float: left;
    padding-left: 5px;
    color: #b2afaf;
}

.grey {
    color: #b2afaf;
}
.body-header {
    height: 45px;
    margin-left: -13%;
    width: 112%;
    border-bottom: 1.5px grey solid;
}
.header-icons {
    color: #b2afaf;
    padding: 10px;
    height: 29px;
    float: right;
}
.container-body {
    margin-top: 2%;
    margin-left: -10%;
}

.tasks {
    box-shadow: 0px 0px 8px -3px grey;
    margin-left: 10px;
    text-align: left;
    width: 48%;
    text-align: left;
    font-size: 30px;
    padding: 0;
}

.tasks h4 {
    margin-left: 10px;
    text-align: left;
}

.content-header {
    color: hotpink;
}

.card-header {
    padding: 1rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    height: 40px;
    font-size: large;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    min-height: 225px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100px;
    padding: 2.5%;
}

.card-body ul {
    list-style-type: none;
    padding: 0px;
}

.card-body li {
    padding: 1px;
}

.tasklist:hover {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: #a59d9d;
    width: 100%;
}

.tasklist {
    padding: 10px;
    border: none;
    cursor: pointer;
    background: #eaeaea;
    width: 100%;
    font-size: 10px;
}

#task-score {
    float: left;
    padding-left: 5px;
    color: black;
    font-weight: 600;
    font-size: 16px;
}

#task-content {
    font-size: 16px;
    float: left;
    color: #f19574;
}

#seller-title {
    font-size: 15px;
    font-weight: 600;
}

#seller-name {
    font-size: 30px;
    font-weight: 500;
}

#seller-score {
    font-size: 30px;
    color: #a0d9f2;
    padding-left: 10px;
    font-weight: 500;
}

.seller-info {
    margin-top: -8%;
}

#grid {
    display: grid;
    height: 150px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 175px;
    grid-column-gap: 0px;
  }
  
  .overlay-left {
      position: absolute;
  }
    
  #grid > div {
    background-color: gray;
  }
  
  #slider-buttons-left{
    position: absolute;
    top: 100px;
    font-size: 90%;
    color: #778899;    
    cursor: pointer;
  }
  
  #slider-buttons-right{
    position: absolute;
    top: 100px;
    font-size: 90%;
    color: #778899;
    right: 0px;
    cursor: pointer;
  }
  
  .image-cropper {
      align-items: center;
      padding-right: 10px;
      padding-left: 10px;
  }
  
  .image-cropper img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: 0 auto;
  }