<header style="background-color: white; height: 14px;
border-bottom: 2px grey;
margin-left: 4px;">
    <div style="float: right;">
        <span class="glyphicon glyphicon-share"></span> &nbsp; &nbsp; &nbsp;
        <span class="glyphicon glyphicon-print"></span> &nbsp; &nbsp; &nbsp;
        <span class="glyphicon glyphicon-download"></span> &nbsp; &nbsp; &nbsp;
    </div>
</header>


<nav>
    <div style="background-color: #f9f9f9; height: 120px;">
    <h5> Sales Activity(95)</h5>
    <ul style="list-style-type:none;">
        <li>
            <button style=" padding:10px;box-shadow: 0px 8px 16px 0px grey">
                <span class="glyphicon glyphicon-ok-circle" style="float: left;"></span>
                <span style="float: left;">New Order</span> <span style="float:right; "> 29</span><br>
                <p><span class="glyphicon glyphicon-arrow-up"></span>15 % from this yesterday</p>
            </button>

        </li>
        <li>
            <button style=" padding:10px;box-shadow: 0px 8px 16px 0px grey">
                <span class="glyphicon glyphicon-ok-circle" style="float: left;"></span>
                <span style="float: left;">New Order</span> <span style="float:right; "> 29</span><br>
                <p><span class="glyphicon glyphicon-arrow-up"></span>15 % from this yesterday</p>
            </button>
        </li>
        <li>
            <button style=" padding:10px;box-shadow: 0px 8px 16px 0px grey">
                <span class="glyphicon glyphicon-ok-circle" style="float: left;"></span>
                <span style="float: left;">New Order</span> <span style="float:right; "> 29</span><br>
                <p><span class="glyphicon glyphicon-arrow-up"></span>15 % from this yesterday</p>
            </button>
        </li>
        <li>
            <button style=" padding:10px;box-shadow: 0px 8px 16px 0px grey">
                <span class="glyphicon glyphicon-ok-circle" style="float: left;"></span>
                <span style="float: left;">New Order</span> <span style="float:right; "> 29</span><br>
                <p><span class="glyphicon glyphicon-arrow-up"></span>15 % from this yesterday</p>
            </button>
        </li>
    </ul>
</div>
</nav>

<div class=clear>

</div>

<div class="row" style="margin-top:12%">
    <div class="col-md-6" style="border:0.5px solid grey; margin-left: 10px;">
        <h5 style="text-align: left;
        margin-left: 48px;"> Task</h5>
        <div class="border-bottom:2px red">
            <ul style="list-style-type:none; ">
                <li>
                    <button style=" padding:  10px; font-size:  12px; border: none; cursor: pointer;
                background: #f9f9f9;width: 400px;">
                        <span style="color: #f19574; float: left;">Medium </span>
                        <span style="float: left; ">(30)</span>
                        <span class="glyphicon glyphicon-triangle-bottom" style="float: right;">
                        </span>
                    </button>
                <li>

                <li style="margin-top: 5px;">
                    <button style=" padding:  10px; font-size:  12px; border: none; cursor: pointer;
                background: #f9f9f9;width: 400px;">
                        <span style="color: #f19574; float: left;">Medium </span>
                        <span style="float: left; ">(30)</span>
                        <span class="glyphicon glyphicon-triangle-bottom" style="float: right;">
                        </span>
                    </button>
                <li>

                <li style="margin-top: 5px;">
                    <button style=" padding:  10px; font-size:  12px; border: none; cursor: pointer;
                background: #f9f9f9;width: 400px;">
                        <span style="color: #f19574; float: left;">Low </span>
                        <span style="float: left; ">(30)</span>
                        <span class="glyphicon glyphicon-triangle-bottom" style="float: right;">
                        </span>
                    </button>
                <li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <h5 style="text-align: center;"> Top selling varients</h5>

        <ul style="list-style-type:none;">
            <li style="text-indent: 10px; line-height: 40px; ">
                <a style="display: block;text-decoration: none;"><span class="glyphicon glyphicon-envelope">
                    </span>Task & Assignment</a>
            </li>
            <li style="text-indent: 10px; line-height: 40px; ">
                <a style="display: block;  text-decoration: none;"><span class="glyphicon glyphicon-envelope">
                    </span>Task & Assignment</a>
            </li>
            <li style="text-indent: 10px; line-height: 40px; ">
                <a style="display: block;  text-decoration: none;"><span class="glyphicon glyphicon-envelope">
                    </span>Task & Assignment</a>
            </li>
        </ul>


    </div>
</div>