.sidebar {
    width: 200px;
    height: 630px;
    background-color:#607d8b;
    position: relative;
    box-shadow: -129px -94px 28px 122px black;
}

.sidebar:hover {
    width: 200px;
    height: 630px;
    background-color:#ffffff;
    position: relative;
    background: transparent;
}
.hiddenlist {
    height: 300px;
    width: 125%;
    margin-left: -40px;
    background-color:#607d8b;
}


.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.sidebar img {
    height: 90px;
    width: 100%;
}
.sidebar ul {
    list-style-type:none;
}

.menu {
    text-indent: 10px;
    line-height: 50px;
    border-bottom: rgb(196, 196, 187) solid 0.1px;
    width: 125%;
    margin-left: -40px;
    background-color:#607d8b;
}

.menu:hover {
    text-indent: 10px;
    line-height: 50px;
    border-bottom: rgb(196, 196, 187) solid 0.1px;
    width: 122%;
    margin-left: -35px;
    background-color: #365564;
}


.menu a {
    display: block;
    color: white;
    text-decoration: none;
}



