<div class="container">
    <div class="sidebar">
        <img src="assets/logo.png">
        <ul>
            <li class="menu">
                <a><span class="glyphicon glyphicon-equalizer "> </span> Dashboard</a>
             </li>
            <li class="menu">
                <a><span class="glyphicon glyphicon-tasks"> </span> Task & Assignment</a>
             </li>

             <li class="menu">
                <a><span class="glyphicon glyphicon-envelope"> </span> Stocks</a>
             </li>

            <li  class="menu">
                <a><span class="glyphicon glyphicon-envelope"> </span> Sales</a>
             </li>
             <li class="menu">
                <a><span class="glyphicon glyphicon-envelope"> </span> Purchase</a>
             </li>

            <li  class="menu">
                <a><span class="glyphicon glyphicon-envelope"> </span> Production Plan</a>
             </li>
 
             <li  class="menu">
                <a><span class="glyphicon glyphicon-envelope"> </span> Reports</a>
             </li>

            <li class="hiddenlist">
                <a></a>
             </li>
        </ul>
    </div>
</div>
